
<div id="iptCont">
    <p>Input</p>
    <input type="text" value="" ng-model="input.nounOne" placeholder="Input a noun">
    <input type="text" value="" ng-model="input.nounTwo" placeholder="Input a noun">
    <input type="text" value="" ng-model="input.nounThree" placeholder="Input a noun">
    <input type="text" value="" ng-model="input.vbOne" placeholder="Input a verb">
    <input type="text" value="" ng-model="input.vbTwo" placeholder="Input a verb ending in '-ing'">

    <input type="text" value="" ng-model="input.adjOne" placeholder="Input an adjective">
    <input type="text" value="" ng-model="input.adjTwo" placeholder="Input an adjective">
    <input type="text" value="" ng-model="input.advTwo" placeholder="Input an adverb">
    <button type="button" ng-click="submitWords()">Submit</button>
</div>